.search-form {
  width: 100%;
  max-width: 42.5rem;
}
.search-form-elem {
  border-bottom: 2px solid grey;
}
.search-form-elem .form-control {
  font-size: 2rem;
  padding: 0.6rem;
  width: 100%;
  background: transparent;
}
.search-form-elem .form-control::placeholder {
  opacity: 0.9;
}
