.booklist,
.book-details {
  padding: 3rem 0;
}
.booklist-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.book-item {
  margin: 1rem;
  margin-right: 2.3rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px 0px;
  border-left: 0.35rem solid hsl(44, 96%, 53%);
  transition: var(--transition);
  width: 40rem;
  display: flex;
}
.book-item:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.book-item-info-item.title {
  line-height: 1.4;
  margin-bottom: 0.8rem;
}
.book-item-info-item.author {
  line-height: 1.4;
  margin-bottom: 4px;
}
.book-item-info-item:not(.book-item-info-item.title) span:last-child {
  opacity: 0.8;
}
.book-item-info-item.publish-year {
  opacity: 0.6;
  font-size: 0.875rem;
}
.book-item-img {
  margin: auto 1.75rem auto 0;
}
.book-item-img img {
  width: 9rem;
  height: 9rem;
  border-radius: 0.5rem;
}